@import url('style.css');

.nav_container {
  display: flex;
}
.nav_section {
  position: fixed;

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  z-index: 10;
  background-color: var(--third-color);
}
.nav_section h2 {
  font-size: 40px;
  line-height: 60px;
  font-family: 'Raleway', sans-serif;
}
.nav_section ul {
  display: flex;
  font-family: var(--primary-font);
  gap: 25px;
  font-weight: 600;
}
nav {
  height: 70px;
}
nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: uppercase;
}

.header_bottom {
  background: rgb(237, 246, 5);
  background: linear-gradient(
    90deg,
    rgba(237, 246, 5, 1) 35%,
    rgba(0, 198, 240, 1) 100%
  );
  padding: 3px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav_section svg {
  display: none;
}
.nav_bar {
  overflow: hidden;
  transition: width 1s ease-in-out;
}

.closed_navbar {
  width: 0;
}

.opened_navbar {
  width: 0;
}
.closed_nav {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-family: var(--primary-font);
  font-weight: 700;
  border-radius: 0px 0px 5px 5px;
}
.closed_nav ul {
  padding: 0px;
}

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--primary-font);
  text-align: center;
  z-index: -1;
}
.hero_container h1 {
  font-size: 40px;
}
.hero_container h3 {
  background: #ff7e97;
  color: #fff;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 240px 0px;
  color: var(--primary-color);
}
.blurry-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assests/hero_image.jpg);
  background-size: cover;
  filter: brightness(60%);
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .nav_section ul li:nth-child(3),
  .nav_section ul li:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav_section {
    padding: 5px 15px;
    justify-content: space-between;
  }
  .nav_section ul {
    display: none;
  }
  .nav_section svg {
    display: block;
  }
  .closed_navbar {
    width: 100%;
  }
  .nav_bar {
    position: fixed;
    top: 70px;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
}
