* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; */
}

:root {
  --primary-color: #fff;
  --secondary-color: #f3f3f3;
  --third-color: #d7535a;
  --fourth-color: #ff7e97;
  --footer-color: #ff4b6e;
  --icons-color: #ff819a;

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
